---
layout: flow
title: about me
sitetitle: beats, pixels, code, life
biopage: true
resport: true
tagline: Information Visualization + Interface Development
---

{% include common/header.html %}


<div id="outercontent" class='kiddphunk'>
	<div id="main">
	<div id="about">
       <div id="content">
        <div class="prepend-1 span-17">

			<div>
			<h5>Ian Timourian <!--<span style='color:#ddd'>❧</span>--></h5>
			</div>
			<p>
			<h1>My mission is to <em>visualize</em>, <em>transmit</em> and <em>transform information</em> via <em>interfaces</em>, <em>vibrations</em> and <em>experiences</em> that <em>unify</em>, <em>inspire</em> and <em>harness</em> our <em>collective spirits</em>.</h1>

			<p></p>
			<h2>Ever since I was a child I have been fascinated by <em>information</em>:<br/> What is it? When is it consumed? How is it represented? How can it be transferred? </h2>
			</p>

				<p>
<h2></h2>					
			</p>
		</div>
		<img id='aboutimg' src='http://kiddphunk.com/images/bpcl/about.jpg'/>
		<p></p>
        <div class="prepend-1 span-18 last">

			<p>
			<h2>This curiousity, along with an equally strong interest in computers, led me to study <em>Electrical/Computer Engineering</em> and <em>Computer Science</em> at Duke University and <em>Information Networking</em> at Carnegie Mellon University. Whenever possible, I would focus on aspects of user interface design or data visualization.
				</h2>
		</div>
        <div class="prepend-1 span-8">
			<p>
			<h4>My current focus is <em>Information Visualization</em>; as a discipline, it singularly melds my skills and interests in <em>graphic design</em>, <em>user interfaces</em>, <em>programming</em>, <em>data mining</em>, etc.
			</h4>
			</p>
		</div>
        <div class="prepend-1 span-8 append-1 last">
			<p>
			<h4>Other active areas of interest include intersections (and cross-pollinations) between art, music, distributed networks, creative collaboration, generative art, programming languages, linguistics, physical controllers.
			</h4>
			</p>
		</div>
        <div class="prepend-1 span-16">
			<h4>
			I currently work for <a href='http://paxata.com'>Paxata</a> - we're
			<a href='http://www.paxata.com/company/careers/'>hiring</a>!
			</h4>
		</div>

        <div class="prepend-1 span-8">
			<p></p>
			<h3>Clients</h3>
			<br>&nbsp;</br>A selection of companies and organizations I have worked with/for over the years:<br>&nbsp;</br><h4 style="color:#999">
			Amazon<br>
			Poll Everywhere<br>
			Proferi (now Tidemark)<br>
			GE Healthcare<br>
			Akamai<br>
			MedVirginia<br>
			SproutBuilder<br>
			The Energy Foundation<br>
			Grey|SF<br>
			<!-- Merced<br> -->
			<!-- Groovr<br> -->
			<!-- Kindfish<br> -->
			FutureTrax<br>
			Trusted Information Systems (TIS)<br>
			Duke University<br>
			Carnegie Mellon University<br>
			</p>
			</h4>
		</div>

        <div class="prepend-1 span-8 append-1 last">
			<p></p>
			<h3>Print</h3>
			<p><br/>
			<a href="http://www.visualcomplexity.com/vc/book/">Visual Complexity: Mapping Patterns of Information</a><em><br/>&nbsp;&nbsp; - Manuel Lima / 2011</em></p>
			<p>
			<a href="http://seedmagazine.com">SEED Magazine</a><br/>&nbsp;&nbsp;<em> - September / 2006</em></p>
			<h3>Gallery</h3>
			<p><br/>
			<a href="http://strataconf.com/strata2014/public/schedule/detail/33932">Data Visualization Lounge</a><em><br/>&nbsp;&nbsp; - <a href='http://strataconf.com'>Strata Conference</a> / 2014</em></p>
			<p>
			<a href="http://chillinproductions.socialgo.com">Chillin' Productions annual Holiday Show</a><em>
			<br/>&nbsp;&nbsp; - @ Mezzanine / 2012
			<br/>&nbsp;&nbsp; - @ 111 Minna</a> / 2013 / <a href="http://kiddphunk.com/projects/2013/12/12/no-evil/">details</a>
			</em>

			<h3>Presentations</h3>
			<p><br/>
			<em><b>Visualizing Poetry</b><br/>&nbsp;&nbsp; - Ignite Talk, <a href="http://eyeofestival.com">Eyeo Festival</a> / 2015</em></p>
			<p>
			<a href="https://www.youtube.com/watch?v=Eornbf36uOg"><b>Unlocking the Secrets of Gertrude Stein</b></a><em><br/>&nbsp;&nbsp; - Speaker, <a href='http://strataconf.com'>Strata Conference</a> / 2014</em></p>
			<br>
			<p></p>

			</p>

		</div>


        <div class="prepend-1 span-18 last">
			<p></p>
			<h3>Personal Favorites</h3>
		</div>
        <div id='aboutimgs' class="prepend-1 span-3">
			<a href='http://beatspixelscodelife.com/projects/2006/05/01/delicious-discover/#article'><img src='http://kiddphunk.com/images/bpcl/1.jpg'></a>
			<a href='http://beatspixelscodelife.com/projects/2011/10/03/visual-poetry-part-one-audioizing-gertrude-stein/#article'><img src='http://kiddphunk.com/images/bpcl/4.jpg'></a>
			<a href='http://beatspixelscodelife.com/projects/2008/04/03/dopetracks-poster/#article'><img src='http://kiddphunk.com/images/bpcl/3.jpg'></a>
			<a href=''><img src='http://kiddphunk.com/images/bpcl/2soon.jpg'></a>
		</div>




		
		
		
	</div>
	</div>
	</div>
	<div class="side">
           {% include common/sidebar1.html %}
	</div>
</div>
<div id="footer">{% include common/footer.html%}</div>
