<div id="header">
       <img id='flower' src='http://kiddphunk.com/images/flower.png'>
	<div class='blogabout'>
      		<a href="/"><h3>blog</h3></a><br>
		<a href="/about"><h3>about</h3></a>
	</div>
       {% if page.bodyclass == 'indexpage'%}
           {% include bpcl/header_slim.html %}
       {% else %}
           {% include bpcl/header_slim.html %}
       {% endif %}
    <h3><em>{% if page.tagline%}{{page.tagline}}{% else%}explorations in multi-dimensional digital creativity.{% endif %}</em></h3>
	{% if page.resport %}
		<div class='resport'>
			<h3>&raquo;&nbsp;<a href="/resume#article">resume</a></h3>
			<h3><a href="/portfolio#article">portfolio</a></h3>
		</div>
	{% endif %}
</div>
